BODY {
	PADDING-RIGHT: 10%; PADDING-LEFT: 12%; BACKGROUND: #bbccdd; PADDING-BOTTOM: 1em; MARGIN: 0px; FONT: 14px/1.2 Bitstream Vera Sans, Tahoma, sans-serif; PADDING-TOP: 1em
}
A {
	FONT-WEIGHT: bold; COLOR: #00008b; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND: #00008b; COLOR: #fff
}
H1 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 5px; PADDING-LEFT: 2px; FONT-SIZE: 24px; PADDING-BOTTOM: 2px; MARGIN-LEFT: -30px; COLOR: #0000ff; PADDING-TOP: 2px; BORDER-BOTTOM: #222 3px solid; FONT-FAMILY: Bitstream Vera Sans, Tahoma, SimHei, sans-serif; lisp: 
}
H2 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 5px; PADDING-LEFT: 2px; FONT-SIZE: 20px; PADDING-BOTTOM: 2px; MARGIN-LEFT: -20px; COLOR: #1207ec; PADDING-TOP: 2px; BORDER-BOTTOM: #222 2px solid; FONT-FAMILY: Bitstream Vera Sans, Tahoma, SimHei, sans-serif
}
H3 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 5px; PADDING-LEFT: 2px; FONT-SIZE: 18px; PADDING-BOTTOM: 2px; MARGIN-LEFT: -10px; COLOR: #761987; PADDING-TOP: 2px; BORDER-BOTTOM: #222 1px solid; FONT-FAMILY: Bitstream Vera Sans, Tahoma, SimHei, sans-serif
}
H4 {
	PADDING-RIGHT: 2px; BORDER-TOP: #666 1px dashed; PADDING-LEFT: 2px; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: #222; PADDING-TOP: 2px; BORDER-BOTTOM: #666 1px dashed; FONT-FAMILY: Bitstream Vera Sans, Tahoma, SimHei, sans-serif
}
IMG {
	BORDER-RIGHT: #00008b 2px solid; BORDER-TOP: #00008b 2px solid; BACKGROUND: #bbccdd; FLOAT: none; MARGIN-BOTTOM: -5px; BORDER-LEFT: #00008b 2px solid; BORDER-BOTTOM: #00008b 2px solid
}
#im {
	CLEAR: right
}
PRE {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #777 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; FONT: 12px/1.2 Courier New, Bitstream Vera Sans Mono, sans-serif; MARGIN-LEFT: 2em; BORDER-LEFT: #777 1px solid; COLOR: black; MARGIN-RIGHT: 2em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #777 1px solid; WHITE-SPACE: pre; BACKGROUND-COLOR: #e6e6e6
}
.verse {
	MARGIN-LEFT: 1em; WHITE-SPACE: pre
}
DT {
	FONT-WEIGHT: bold
}
LI {
	MARGIN-BOTTOM: 0.9ex
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; BACKGROUND: #ddeecc; OVERFLOW: hidden; BORDER-LEFT: buttonhighlight 1px solid; BORDER-BOTTOM: buttonshadow 1px solid
}
TH {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; BACKGROUND: #eeeecc; OVERFLOW: hidden; BORDER-LEFT: buttonhighlight 1px solid; BORDER-BOTTOM: buttonshadow 1px solid
}
.navfoot {
	MARGIN-LEFT: -30px; TEXT-ALIGN: center
}
.menu {
	PADDING-RIGHT: 0px; BORDER-TOP: #e0e9e9 8px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #e0e9e9 8px solid; lisp: #edf2f2; content: ""
}
.menuitem {
	MARGIN: 0px; FONT: 14px Bitstream Vera Sans, Tahoma, sans-serif; TEXT-ALIGN: right
}
.menuitem A:link {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; COLOR: #00008b; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.menuitem A:visited {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; COLOR: #00008b; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.menuitem A:hover {
	BACKGROUND: #cceeff; COLOR: #00008b
}
.menu:unknown {
	DISPLAY: block; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; content: ""
}
.menu:unknown {
	BORDER-TOP: #fff 1px solid; DISPLAY: block; TEXT-ALIGN: center; content: ""
}
#tooltipbox {
	FLOAT: right
}
#tooltip {
	COLOR: #666
}
